In [72]:
import boto3
import urllib3
import pandas as pd
from io import BytesIO


#Disable warning for cleaning the terminal
urllib3.disable_warnings()


# We will use Amazon S3. We create a high-level resource object
# for interacting with AWS


#Adding verify = False as same issue in previous modules with corporate proxy
s3 = boto3.resource('s3',
                aws_access_key_id='AKIAXN64CPXKVY56HGZZ',
                aws_secret_access_key='XXX',
                verify = False)

bucket_name = 'zrive-ds-data'
prefix = 'groceries/sampled-datasets/'

# Create a bucket object
bucket = s3.Bucket(bucket_name)

# Empty dict in case we need to iterate over
dfs = {}

#Iterate through the objects inside
for obj in bucket.objects.filter(Prefix = prefix):
    key = obj.key

    # We will keep a list of dfs in case we need to iterate over
    if key.endswith('.parquet'):
        print(f"-- Reading Parquet file: {key}")
        
        try:
            # Get the S3 object
            s3_object = s3.Object(bucket_name, key)

            # Get the parquet file as bytes
            response = s3_object.get()
            parquet_bytes = response['Body'].read()

            # Create a BytesIO object for seeking
            parquet_io = BytesIO(parquet_bytes)

            # We retrieve the actual filename
            df_name = key.split('/')[-1].split('.')[0]

            # Save as individual files and also inside a dict
            df = globals()[f'df_{df_name}'] = pd.read_parquet(parquet_io)
            dfs[df_name] = df

            print(f"The number of cols and rows is: {df.shape}")
            print(df.head())
            print(f"-- The df named df_{df_name} has been saved\n")

        except IOError as io_err:
            print(f"IOError reading {key}: {io_err}")
        except pd.errors.ParserError as parser_err:
            print(f"ParserError reading {key}: {parser_err}")
        except TypeError as type_err:
            if "a bytes-like object is required, not 'str'" in str(type_err):
                    print(f"TypeError: The Parquet file {key} is not in bytes format.")
            else:
                    print(f"TypeError reading {key}: {type_err}")

-- Reading Parquet file: groceries/sampled-datasets/abandoned_carts.parquet
The number of cols and rows is: (5457, 4)
                id                                            user_id  \
0   12858560217220  5c4e5953f13ddc3bc9659a3453356155e5efe4739d7a2b...
13  20352449839236  9d6187545c005d39e44d0456d87790db18611d7c7379bd...
45  20478401413252  e83fb0273d70c37a2968fee107113698fd4f389c442c0b...
50  20481783103620  10c42e10e530284b7c7c50f3a23a98726d5747b8128084...
52  20485321687172  d9989439524b3f6fc4f41686d043f315fb408b954d6153...

            created_at                                         variant_id
0  2020-05-20 13:53:24  [33826459287684, 33826457616516, 3366719212762...
13 2021-06-27 05:24:13  [34415988179076, 34037940158596, 3450282236326...
45 2021-07-18 08:23:49  [34543001337988, 34037939372164, 3411360609088...
50 2021-07-18 21:29:36  [33667268116612, 34037940224132, 3443605520397...
52 2021-07-19 12:17:05   [33667268083844, 34284950454404, 33973246886020]
-- The df named df_abandoned_carts has been saved

-- Reading Parquet file: groceries/sampled-datasets/inventory.parquet
The number of cols and rows is: (1733, 6)
       variant_id  price  compare_at_price          vendor  \
0  39587297165444   3.09              3.15           heinz
1  34370361229444   4.99              5.50   whogivesacrap
2  34284951863428   3.69              3.99          plenty
3  33667283583108   1.79              1.99  thecheekypanda
4  33803537973380   1.99              2.09         colgate

                      product_type                                        tags
0             condiments-dressings                       [table-sauces, vegan]
1  toilet-roll-kitchen-roll-tissue                 [b-corp, eco, toilet-rolls]
2  toilet-roll-kitchen-roll-tissue                              [kitchen-roll]
3  toilet-roll-kitchen-roll-tissue  [b-corp, cruelty-free, eco, tissue, vegan]
4                           dental                        [dental-accessories]
-- The df named df_inventory has been saved

-- Reading Parquet file: groceries/sampled-datasets/orders.parquet
The number of cols and rows is: (8773, 6)
               id                                            user_id  \
10  2204073066628  62e271062eb827e411bd73941178d29b022f5f2de9d37f...
20  2204707520644  bf591c887c46d5d3513142b6a855dd7ffb9cc00697f6f5...
21  2204838822020  329f08c66abb51f8c0b8a9526670da2d94c0c6eef06700...
34  2208967852164  f6451fce7b1c58d0effbe37fcb4e67b718193562766470...
49  2215889436804  68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...

            created_at order_date  user_order_seq  \
10 2020-04-30 14:32:19 2020-04-30               1
20 2020-04-30 17:39:00 2020-04-30               1
21 2020-04-30 18:12:30 2020-04-30               1
34 2020-05-01 19:44:11 2020-05-01               1
49 2020-05-03 21:56:14 2020-05-03               1

                                        ordered_items
10  [33618849693828, 33618860179588, 3361887404045...
20  [33618835243140, 33618835964036, 3361886244058...
21  [33618891145348, 33618893570180, 3361889766618...
34  [33618830196868, 33618846580868, 3361891234624...
49  [33667166699652, 33667166699652, 3366717122163...
-- The df named df_orders has been saved

-- Reading Parquet file: groceries/sampled-datasets/regulars.parquet
The number of cols and rows is: (18105, 3)
                                              user_id      variant_id  \
3   68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...  33618848088196
11  aed88fc0b004270a62ff1fe4b94141f6b1db1496dbb0c0...  33667178659972
18  68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...  33619009208452
46  aed88fc0b004270a62ff1fe4b94141f6b1db1496dbb0c0...  33667305373828
47  4594e99557113d5a1c5b59bf31b8704aafe5c7bd180b32...  33667247341700

            created_at
3  2020-04-30 15:07:03
11 2020-05-05 23:34:35
18 2020-04-30 15:07:03
46 2020-05-05 23:34:35
47 2020-05-06 14:42:11
-- The df named df_regulars has been saved

-- Reading Parquet file: groceries/sampled-datasets/users.parquet
The number of cols and rows is: (4983, 10)
                                                user_id user_segment  \
2160  0e823a42e107461379e5b5613b7aa00537a72e1b0eaa7a...       Top Up
1123  15768ced9bed648f745a7aa566a8895f7a73b9a47c1d4f...       Top Up
1958  33e0cb6eacea0775e34adbaa2c1dec16b9d6484e6b9324...       Top Up
675   57ca7591dc79825df0cecc4836a58e6062454555c86c35...       Top Up
4694  085d8e598139ce6fc9f75d9de97960fa9e1457b409ec00...       Top Up

     user_nuts1     first_ordered_at customer_cohort_month  count_people  \
2160        UKH  2021-05-08 13:33:49   2021-05-01 00:00:00           NaN
1123        UKJ  2021-11-17 16:30:20   2021-11-01 00:00:00           NaN
1958        UKD  2022-03-09 23:12:25   2022-03-01 00:00:00           NaN
675         UKI  2021-04-23 16:29:02   2021-04-01 00:00:00           NaN
4694        UKJ  2021-11-02 13:50:06   2021-11-01 00:00:00           NaN

      count_adults  count_children  count_babies  count_pets
2160           NaN             NaN           NaN         NaN
1123           NaN             NaN           NaN         NaN
1958           NaN             NaN           NaN         NaN
675            NaN             NaN           NaN         NaN
4694           NaN             NaN           NaN         NaN
-- The df named df_users has been saved

In [67]:
# We have saved the 5 dfs inside a dict called dfs
# We have saved each df with its name df_{parquet_file}

# EDA (in progress)

We have been presented with different datasets from a groceries e-commerce platform selling directly to consumers. In that sense, we have 5 different tables with different info in each of them.

- df_orders: An order history of customers. Each row is an order and the
item_ids for the order are stored as a list in the item_ids column
- df_regulars:  Users are allowed to specify items that they wish to buy
regularly. This data gives the items each user has asked to get regularly, along
with when they input that information.
- df_abandoned cart: If a user has added items to their basket but not
bought them, we capture that information. Items that were abandoned are stored
as a list in item_ids.
- df_inventory: Some information about each item_id
- df_users: Information about users.

1. Priorly to working with data, we will try to inspect each of the dataframes in order to understand the information. With the description of each table provided, we would try to figure out how the data looks like - then we could start thinking of some hypothesis and proceed with its verification.

2. We may display them, inspect columns and dtypes, verify if everythings makes sense about the metadata. After that, we could try to look for possible NANs or Null values, doublechecking data quality is OK. If we find any issue or problem during the process, with the prior knowledge obtained, we should be able to make a decision and justify the solution applied.

3. Once data has been fixed, we may join or transform them in order to work with that in future steps.

3. After all, we will formulate the corresponding hypothesis tested about the data plus some commentaries and additional info we have found.

### Orders

An orders history of customers. Each row is an order and the
item_ids for the order are stored as a list in the item_ids column

In [86]:
print(df_orders.shape)
df_orders.head()

(8773, 6)

,id,user_id,created_at,order_date,user_order_seq,ordered_items
10,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,"[33618849693828, 33618860179588, 3361887404045..."
20,2204707520644,bf591c887c46d5d3513142b6a855dd7ffb9cc00697f6f5...,2020-04-30 17:39:00,2020-04-30,1,"[33618835243140, 33618835964036, 3361886244058..."
21,2204838822020,329f08c66abb51f8c0b8a9526670da2d94c0c6eef06700...,2020-04-30 18:12:30,2020-04-30,1,"[33618891145348, 33618893570180, 3361889766618..."
34,2208967852164,f6451fce7b1c58d0effbe37fcb4e67b718193562766470...,2020-05-01 19:44:11,2020-05-01,1,"[33618830196868, 33618846580868, 3361891234624..."
49,2215889436804,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,2020-05-03 21:56:14,2020-05-03,1,"[33667166699652, 33667166699652, 3366717122163..."

### Regulars

Users are allowed to specify items that they wish to buy
regularly. This data gives the items each user has asked to get regularly, along
with when they input that information.

In [89]:
print(df_regulars.shape)
df_regulars.head()

(18105, 3)

,user_id,variant_id,created_at
3,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,33618848088196,2020-04-30 15:07:03
11,aed88fc0b004270a62ff1fe4b94141f6b1db1496dbb0c0...,33667178659972,2020-05-05 23:34:35
18,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,33619009208452,2020-04-30 15:07:03
46,aed88fc0b004270a62ff1fe4b94141f6b1db1496dbb0c0...,33667305373828,2020-05-05 23:34:35
47,4594e99557113d5a1c5b59bf31b8704aafe5c7bd180b32...,33667247341700,2020-05-06 14:42:11

### Abandoned cart

If a user has added items to their basket but not
bought them, we capture that information. Items that were abandoned are stored
as a list in item_ids.

In [90]:
print(df_abandoned_carts.shape)
df_abandoned_carts.head()

(5457, 4)

,id,user_id,created_at,variant_id
0,12858560217220,5c4e5953f13ddc3bc9659a3453356155e5efe4739d7a2b...,2020-05-20 13:53:24,"[33826459287684, 33826457616516, 3366719212762..."
13,20352449839236,9d6187545c005d39e44d0456d87790db18611d7c7379bd...,2021-06-27 05:24:13,"[34415988179076, 34037940158596, 3450282236326..."
45,20478401413252,e83fb0273d70c37a2968fee107113698fd4f389c442c0b...,2021-07-18 08:23:49,"[34543001337988, 34037939372164, 3411360609088..."
50,20481783103620,10c42e10e530284b7c7c50f3a23a98726d5747b8128084...,2021-07-18 21:29:36,"[33667268116612, 34037940224132, 3443605520397..."
52,20485321687172,d9989439524b3f6fc4f41686d043f315fb408b954d6153...,2021-07-19 12:17:05,"[33667268083844, 34284950454404, 33973246886020]"

### Inventory parquet

Some info about each item id

In [91]:
print(df_inventory.shape)
df_inventory.head()

(1733, 6)

,variant_id,price,compare_at_price,vendor,product_type,tags
0,39587297165444,3.09,3.15,heinz,condiments-dressings,"[table-sauces, vegan]"
1,34370361229444,4.99,5.50,whogivesacrap,toilet-roll-kitchen-roll-tissue,"[b-corp, eco, toilet-rolls]"
2,34284951863428,3.69,3.99,plenty,toilet-roll-kitchen-roll-tissue,[kitchen-roll]
3,33667283583108,1.79,1.99,thecheekypanda,toilet-roll-kitchen-roll-tissue,"[b-corp, cruelty-free, eco, tissue, vegan]"
4,33803537973380,1.99,2.09,colgate,dental,[dental-accessories]

### Users

Information about users

In [92]:
print(df_users.shape)
df_users.head()

(4983, 10)

,user_id,user_segment,user_nuts1,first_ordered_at,customer_cohort_month,count_people,count_adults,count_children,count_babies,count_pets
2160,0e823a42e107461379e5b5613b7aa00537a72e1b0eaa7a...,Top Up,UKH,2021-05-08 13:33:49,2021-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN
1123,15768ced9bed648f745a7aa566a8895f7a73b9a47c1d4f...,Top Up,UKJ,2021-11-17 16:30:20,2021-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN
1958,33e0cb6eacea0775e34adbaa2c1dec16b9d6484e6b9324...,Top Up,UKD,2022-03-09 23:12:25,2022-03-01 00:00:00,NaN,NaN,NaN,NaN,NaN
675,57ca7591dc79825df0cecc4836a58e6062454555c86c35...,Top Up,UKI,2021-04-23 16:29:02,2021-04-01 00:00:00,NaN,NaN,NaN,NaN,NaN
4694,085d8e598139ce6fc9f75d9de97960fa9e1457b409ec00...,Top Up,UKJ,2021-11-02 13:50:06,2021-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN

In [93]:
def assess_NA(data):
    """
    Returns a pandas dataframe denoting the total number of NA
    values and the percentage of NA values in each column.
    The column names are noted on the index.
    """
    # pandas series denoting features and the sum of their null values
    null_sum = data.isnull().sum()# instantiate columns for missing data
    total = null_sum.sort_values(ascending=False)
    percent = ( ((null_sum / len(data.index))*100).round(2) ).sort_values(ascending=False)
    
    # concatenate along the columns to create the complete dataframe
    df_NA = pd.concat([total, percent], axis=1, sort=True, keys=['Number of NA', 'Percent NA'])

    return df_NA

In [110]:
for df_name, df in dfs.items():
    """
    We will print general info about each df + apply assess_NA
    """
    print(f"--------- FILENAME: df_{df_name}\n")

    print(df.info(), "\n")
    print(df.describe(), "\n")

    result = assess_NA(df)
    print(result.head(),"\n\n")

--------- FILENAME: df_abandoned_carts

<class 'pandas.core.frame.DataFrame'>
Index: 5457 entries, 0 to 70050
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5457 non-null   int64
 1   user_id     5457 non-null   object
 2   created_at  5457 non-null   datetime64[ns]
 3   variant_id  5457 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 213.2+ KB
None

                 id                     created_at
count  5.457000e+03                           5457
mean   2.161881e+13  2021-12-20 11:07:10.198460672
min    1.285856e+13            2020-05-20 13:53:24
25%    2.133401e+13            2021-11-13 19:52:17
50%    2.167062e+13            2021-12-27 13:14:57
75%    2.192303e+13            2022-01-30 08:35:19
max    2.223385e+13            2022-03-13 14:12:10
std    4.028679e+11                            NaN

            Number of NA  Percent NA
created_at             0         0.0
id                     0         0.0
user_id                0         0.0
variant_id             0         0.0


--------- FILENAME: df_inventory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1733 entries, 0 to 1732
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   variant_id        1733 non-null   int64
 1   price             1733 non-null   float64
 2   compare_at_price  1733 non-null   float64
 3   vendor            1733 non-null   object
 4   product_type      1733 non-null   object
 5   tags              1733 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 81.4+ KB
None

         variant_id        price  compare_at_price
count  1.733000e+03  1733.000000       1733.000000
mean   3.694880e+13     6.307351          7.028881
std    2.725674e+12     7.107218          7.660542
min    3.361529e+13     0.000000          0.000000
25%    3.427657e+13     2.490000          2.850000
50%    3.927260e+13     3.990000          4.490000
75%    3.948318e+13     7.490000          8.210000
max    4.016793e+13    59.990000         60.000000

                  Number of NA  Percent NA
compare_at_price             0         0.0
price                        0         0.0
product_type                 0         0.0
tags                         0         0.0
variant_id                   0         0.0


--------- FILENAME: df_orders

<class 'pandas.core.frame.DataFrame'>
Index: 8773 entries, 10 to 64538
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8773 non-null   int64
 1   user_id         8773 non-null   object
 2   created_at      8773 non-null   datetime64[ns]
 3   order_date      8773 non-null   datetime64[ns]
 4   user_order_seq  8773 non-null   int64
 5   ordered_items   8773 non-null   object
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 479.8+ KB
None

                 id                     created_at  \
count  8.773000e+03                           8773
mean   3.684684e+12  2021-08-22 03:54:18.750028288
min    2.204073e+12            2020-04-30 14:32:19
25%    3.690255e+12            2021-04-25 11:50:37
50%    3.846692e+12            2021-10-11 11:29:44
75%    3.945086e+12            2022-01-03 18:14:23
max    4.026732e+12            2022-03-14 00:24:59
std    4.145437e+11                            NaN

                          order_date  user_order_seq
count                           8773     8773.000000
mean   2021-08-21 12:47:21.262966016        2.445116
min              2020-04-30 00:00:00        1.000000
25%              2021-04-25 00:00:00        1.000000
50%              2021-10-11 00:00:00        1.000000
75%              2022-01-03 00:00:00        3.000000
max              2022-03-14 00:00:00       25.000000
std                              NaN        2.707693

               Number of NA  Percent NA
created_at                0         0.0
id                        0         0.0
order_date                0         0.0
ordered_items             0         0.0
user_id                   0         0.0


--------- FILENAME: df_regulars

<class 'pandas.core.frame.DataFrame'>
Index: 18105 entries, 3 to 37720
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     18105 non-null  object
 1   variant_id  18105 non-null  int64
 2   created_at  18105 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 565.8+ KB
None

         variant_id                     created_at
count  1.810500e+04                          18105
mean   3.511989e+13  2021-08-15 02:27:30.703728384
min    3.361527e+13            2020-04-30 13:09:27
25%    3.382643e+13            2021-03-21 10:41:42
50%    3.422171e+13            2021-10-16 09:11:26
75%    3.448855e+13            2022-01-14 22:35:14
max    4.013362e+13            2022-03-14 07:49:24
std    2.171237e+12                            NaN

            Number of NA  Percent NA
created_at             0         0.0
user_id                0         0.0
variant_id             0         0.0


--------- FILENAME: df_users

<class 'pandas.core.frame.DataFrame'>
Index: 4983 entries, 2160 to 3360
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                4983 non-null   object
 1   user_segment           4983 non-null   object
 2   user_nuts1             4932 non-null   object
 3   first_ordered_at       4983 non-null   object
 4   customer_cohort_month  4983 non-null   object
 5   count_people           325 non-null    float64
 6   count_adults           325 non-null    float64
 7   count_children         325 non-null    float64
 8   count_babies           325 non-null    float64
 9   count_pets             325 non-null    float64
dtypes: float64(5), object(5)
memory usage: 428.2+ KB
None

       count_people  count_adults  count_children  count_babies  count_pets
count    325.000000    325.000000      325.000000    325.000000  325.000000
mean       2.787692      2.003077        0.707692      0.076923    0.636923
std        1.365753      0.869577        1.026246      0.289086    0.995603
min        0.000000      0.000000        0.000000      0.000000    0.000000
25%        2.000000      2.000000        0.000000      0.000000    0.000000
50%        3.000000      2.000000        0.000000      0.000000    0.000000
75%        4.000000      2.000000        1.000000      0.000000    1.000000
max        8.000000      7.000000        6.000000      2.000000    6.000000

                Number of NA  Percent NA
count_adults            4658       93.48
count_babies            4658       93.48
count_children          4658       93.48
count_people            4658       93.48
count_pets              4658       93.48

At a first glance, everything looks correct. There is a specific group of columns count_{} in df_users (from column index = 5) that will be worthy to take a look:

In [126]:
for columns in df_users.columns[5:]:
        print(df_users[columns].value_counts())

count_people
2.0    97
3.0    68
4.0    67
1.0    57
5.0    24
6.0     8
0.0     2
7.0     1
8.0     1
Name: count, dtype: int64
count_adults
2.0    201
1.0     71
3.0     32
4.0     11
5.0      5
0.0      3
7.0      1
6.0      1
Name: count, dtype: int64
count_children
0.0    195
2.0     58
1.0     55
3.0     12
4.0      3
5.0      1
6.0      1
Name: count, dtype: int64
count_babies
0.0    302
1.0     21
2.0      2
Name: count, dtype: int64
count_pets
0.0    193
1.0     87
2.0     28
3.0      8
4.0      6
5.0      2
6.0      1
Name: count, dtype: int64

Seems attributes for each user, where probably the user has the possibility to add more information about its household in his personal account (e.g. how many they are 'count_people', if they have children 'count_children', etc). The reason why there are so many nulls may be because it is not mandatory info, and people don't often fill up that info on their profiles

In that sense, we will keep that info and do not see the need to drop them yet as the length of data is very manageable

After taking a look at all tables, seems that user_id it is the primary key across tables which identifies a single user registered in the platform. The attribute 'id' is it an unique identifier for each operation performed, such as abandon basket or purchases.

With the current magnitude of data, I see no problems for joining the df_orders (which contains the orders) with the inventory data using variant_id. Now, since we have several variant_id inside df_orders, we would need to unroll them and have one per row, but keeping items bought together with same identificator id. With that, we would have info about all the orders and its corresponding info from the inventory with price and type of product purchased.

In [249]:
df_orders_unrolled = df_orders.explode('ordered_items', ignore_index=True)
df_orders_unrolled.head()

,id,user_id,created_at,order_date,user_order_seq,ordered_items
0,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,33618849693828
1,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,33618860179588
2,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,33618874040452
3,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,33618907005060
4,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,33618907005060

In [184]:
print(f"Orders: {len(df_orders)}")
print(f"Total items: {len(df_orders_unrolled)}")

print(f"Avg items per order: {len(df_orders_unrolled)/len(df_orders):.2f}")

Orders: 8773
Total items: 107958
Avg items per order: 12.31

In [252]:
orders_with_inventory = df_orders_unrolled.merge(df_inventory, how='inner',left_on='ordered_items', right_on='variant_id')
orders_with_inventory.head()

,id,user_id,created_at,order_date,user_order_seq,ordered_items,variant_id,price,compare_at_price,vendor,product_type,tags
0,2215889436804,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,2020-05-03 21:56:14,2020-05-03,1,33667238658180,33667238658180,4.19,5.1,listerine,dental,[mouthwash]
1,2215889436804,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,2020-05-03 21:56:14,2020-05-03,1,33667238658180,33667238658180,4.19,5.1,listerine,dental,[mouthwash]
2,2293056798852,5842151f9684b07cb153383330d564d6b805488a4e7b4d...,2020-06-06 13:03:00,2020-06-06,1,33667238658180,33667238658180,4.19,5.1,listerine,dental,[mouthwash]
3,2293435203716,228c4d57135f5610782353dee8709144543ad15216286f...,2020-06-06 23:02:28,2020-06-06,1,33667238658180,33667238658180,4.19,5.1,listerine,dental,[mouthwash]
4,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4.19,5.1,listerine,dental,[mouthwash]

In [253]:
print(f"Number of unique items in inventory: {df_inventory['variant_id'].nunique()}")
print(f"Unique items in inventory: {len(df_inventory)}")
print(f"Items sold merged with inventory: {len(orders_with_inventory)}")

Number of unique items in inventory: 1733
Unique items in inventory: 1733
Items sold merged with inventory: 92361

We see the value length of orders_with_inventory changes depending which type of merge we perform (left, inner, right, outer). This means that are product being sold that have no corresponde on inventory and products in inventory not being sold. Would be interesting to check those values and verify with Sales team what could be happening there:

- Products in inventory not being sold might be a problem (OOS, wrong ids in one of the sides, horrible product that no one wants, etc)
- Products being sold but not in inventory (this is more problematic because it is normal that old products are not on sale anymore, but everything being sold should be tracked and maintained in their internal DB, so will be good to check if we are assigning wrong ids when we sell them or maybe there is some issue in inventory ids)

We could make some quick numbers on how many items are present whether in left or right hand

In [265]:
left = df_orders_unrolled.merge(df_inventory, how='left',left_on='ordered_items', right_on='variant_id')
inner = df_orders_unrolled.merge(df_inventory, how='inner',left_on='ordered_items', right_on='variant_id')
right = df_orders_unrolled.merge(df_inventory, how='right',left_on='ordered_items', right_on='variant_id')
outer = df_orders_unrolled.merge(df_inventory, how='outer',left_on='ordered_items', right_on='variant_id')

print("All sold",len(left))
print("Inner",len(inner))
print("All inventory",len(right))
print("All",len(outer))

All sold 107958
Inner 92361
All inventory 92617
All 108214

As a first step, what I'll do is perform an outer join as I did in the previous step, but enable indicator=True and filter for right_only. Those are the missing products in inventory which are being sold (we are assuming here that sales are contemporary, another reason of this mismatch might be old sales that we are reading in our df_orders, PIPOs, phase out products, etc). Anyway, we can also check that in the date of the order we're reading. First, we will do the mentioned one:

In [277]:
# Need to use this setting for display for avoiding scientific notation
pd.options.display.float_format = '{:.0f}'.format

inspect_orders_with_inventory = df_orders_unrolled.merge(df_inventory, how='outer',left_on='ordered_items', right_on='variant_id', indicator=True)

#Now we drop duplicates for same variant_id products
inspect_dropped = inspect_orders_with_inventory.drop_duplicates(subset=['variant_id'], keep='first')
#print(inspect_dropped['_merge'].value_counts())
missing = inspect_dropped[(inspect_dropped['_merge'] == 'left_only') | (inspect_dropped['_merge'] == 'right_only')]
print(missing['_merge'].value_counts())

_merge
right_only    256
left_only       1
both            0
Name: count, dtype: int64

In [279]:
missing.head()

,id,user_id,created_at,order_date,user_order_seq,ordered_items,variant_id,price,compare_at_price,vendor,product_type,tags,_merge
0,2204073066628,62e271062eb827e411bd73941178d29b022f5f2de9d37f...,2020-04-30 14:32:19,2020-04-30,1,33618849693828,NaN,NaN,NaN,NaN,NaN,NaN,left_only
107958,NaN,NaN,NaT,NaT,NaN,NaN,39788282282116,8,8,betteryou,superfoods-supplements,"[cruelty-free, gluten-free, vitamins-supplements]",right_only
107959,NaN,NaN,NaT,NaT,NaN,NaN,39349425242244,6,7,nivea,suncare,[suncream],right_only
107960,NaN,NaN,NaT,NaT,NaN,NaN,40155145076868,2,2,fairy,dishwashing,[washing-up-liquid],right_only
107961,NaN,NaN,NaT,NaT,NaN,NaN,40070658490500,0,0,jordans,cereal,[cereal-bars],right_only

In [286]:
# We do a quick manual check. This should not exist in orders dataframe
if not (df_orders_unrolled['ordered_items'] == '39788282282116').any():
    print("Not exist indeed")

Not exist indeed

This means there are 256 unique ids in the inventory not being sold, and 1 sale with no corresponde in inventory. I would send this previous dataframe to Sales in order to confirm it.

Having said that, until future confirmation from Sales team or extra-time we may dedicate, we would proceed with an inner join for working with the data

In [290]:
orders_with_inventory = df_orders_unrolled.merge(df_inventory, how='inner',left_on='ordered_items', right_on='variant_id')
orders_with_inventory.head()

,id,user_id,created_at,order_date,user_order_seq,ordered_items,variant_id,price,compare_at_price,vendor,product_type,tags
0,2215889436804,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,2020-05-03 21:56:14,2020-05-03,1,33667238658180,33667238658180,4,5,listerine,dental,[mouthwash]
1,2215889436804,68e872ff888303bff58ec56a3a986f77ddebdbe5c279e7...,2020-05-03 21:56:14,2020-05-03,1,33667238658180,33667238658180,4,5,listerine,dental,[mouthwash]
2,2293056798852,5842151f9684b07cb153383330d564d6b805488a4e7b4d...,2020-06-06 13:03:00,2020-06-06,1,33667238658180,33667238658180,4,5,listerine,dental,[mouthwash]
3,2293435203716,228c4d57135f5610782353dee8709144543ad15216286f...,2020-06-06 23:02:28,2020-06-06,1,33667238658180,33667238658180,4,5,listerine,dental,[mouthwash]
4,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4,5,listerine,dental,[mouthwash]

Now that we have the orders with products info, we can add additional info for each user (contained in df_users), about its regular wish list product (df_regulars), and about other items they dropped from their basket (df_abandoned)

(TO BE DONE) assess with which type of merge we should join with that. Do an analysis of possible options and act accordingly

With inner join we currently obtain 3M rows (below showed)

In [308]:
orders_inventory_user = orders_with_inventory.merge(df_users, on='user_id').merge(df_regulars, on='user_id').merge(df_abandoned_carts, on='user_id')
orders_inventory_user.head()

,id_x,user_id,created_at_x,order_date,user_order_seq,ordered_items,variant_id_x,price,compare_at_price,vendor,...,count_people,count_adults,count_children,count_babies,count_pets,variant_id_y,created_at_y,id_y,created_at,variant_id
0,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4,5,listerine,...,NaN,NaN,NaN,NaN,NaN,33667209199748,2021-07-28 15:30:20,21032012939396,2021-09-27 13:29:42,"[34370361229444, 34081589887108, 3428495186342..."
1,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4,5,listerine,...,NaN,NaN,NaN,NaN,NaN,33667209199748,2021-07-28 15:30:20,21852869361796,2022-01-20 20:15:41,"[39944343322756, 34535162151044, 3441598876890..."
2,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4,5,listerine,...,NaN,NaN,NaN,NaN,NaN,34284951863428,2021-07-28 15:30:20,21032012939396,2021-09-27 13:29:42,"[34370361229444, 34081589887108, 3428495186342..."
3,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4,5,listerine,...,NaN,NaN,NaN,NaN,NaN,34284951863428,2021-07-28 15:30:20,21852869361796,2022-01-20 20:15:41,"[39944343322756, 34535162151044, 3441598876890..."
4,2306493612164,1296e1e72f7f43ff28d7d285f880ad4d213fa8139233c7...,2020-06-21 15:09:26,2020-06-21,3,33667238658180,33667238658180,4,5,listerine,...,NaN,NaN,NaN,NaN,NaN,33826460303492,2021-07-28 15:30:20,21032012939396,2021-09-27 13:29:42,"[34370361229444, 34081589887108, 3428495186342..."

In [309]:
print(len(orders_inventory_user))

3811507